<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    {% if page.img_project %}
    <div class="zoom-container">
        <img src="{{ page.img_project }}"  />
    </div>
    {% endif %}
    <!-- Display page content -->
    <div class="py-3">
      <div class="container project-content">
          {{ content }}
      </div>
    </div>

    <div class="py-4 border-top">
      <div class="container project-content">
        {%- include footer.html -%}
      </div>
    </div>

  </body>

</html>
